In [1]:
import numpy as np
import pandas as pd

print("✅ Libraries imported successfully!")

✅ Libraries imported successfully!

In [2]:
# Create an array
arr = np.array([1, 2, 3, 4, 5])

print("Array:", arr)
print("Mean:", np.mean(arr))
print("Standard Deviation:", np.std(arr))
print("Array + 10:", arr + 10)

Array: [1 2 3 4 5]
Mean: 3.0
Standard Deviation: 1.4142135623730951
Array + 10: [11 12 13 14 15]

In [3]:
# Create a simple dataset
data = {
    'Name': ['Amit', 'Neha', 'Raj', 'Simran'],
    'Age': [23, 25, 22, 24],
    'Score': [85, 90, 88, 92]
}

df = pd.DataFrame(data)

print("✅ DataFrame created!\n")
print(df)

✅ DataFrame created!

     Name  Age  Score
0    Amit   23     85
1    Neha   25     90
2     Raj   22     88
3  Simran   24     92

In [4]:
print(df.describe())  # stats summary
print("\nColumns:", df.columns)
print("\nMean Score:", df['Score'].mean())

             Age      Score
count   4.000000   4.000000
mean   23.500000  88.750000
std     1.290994   2.986079
min    22.000000  85.000000
25%    22.750000  87.250000
50%    23.500000  89.000000
75%    24.250000  90.500000
max    25.000000  92.000000

Columns: Index(['Name', 'Age', 'Score'], dtype='object')

Mean Score: 88.75